:root {
    --profile-pic-size: 250px;
}

main>img {
    mask-image: url("{{ base }}/assets/images/hexagon-mask.png");
    mask-repeat: no-repeat;
    mask-size: calc(var(--profile-pic-size) - 20px) var(--profile-pic-size);
    -webkit-mask-image: url("{{ base }}/assets/images/hexagon-mask.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: calc(var(--profile-pic-size) - 20px) var(--profile-pic-size);
    width: var(--profile-pic-size);
    height: var(--profile-pic-size);
}