/************************* CONFIGS **************************/
:root {
    --main-color: black;
    --accent-color: black;
    --masking-opacity: 0.5;
    --masking-blur: 4px;
    --nav-bg-color: rgba(0, 0, 0, 0.045);
    --nav-height: 60px;
    --anim-appear-duration: 1.5s; 
    --home-welcome-delay: 0.5s;
    --home-whoami-delay: 2.5s;
    --home-navbar-delay: 3.3s;
}

/************************* GLOBALS **************************/
@font-face {
    font-family: "andala";
    src: url("/assets/fonts/andala.otf");
}

@font-face {
    font-family: "notera";
    src: url("/assets/fonts/notera.ttf");
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1.0;
    }
}

.handwriting {
    font-family: "notera", sans-serif;
}

.masked {
    opacity: var(--masking-opacity);
    filter: blur(var(--masking-blur));
}

body {
    font-family: "andala", sans-serif;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 33pt;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

/**************************** NAVBAR **************************/
nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    margin: 0;
    font-size: 10pt;
    height: var(--nav-height);
    max-height: var(--nav-height);
    background-color: var(--nav-bg-color);
}

nav > ul > li:first-child img {
    width: 40px;
    height: 40px;
}

nav > ul > li:first-child,
nav > ul > li:last-child {
    padding: 0px 20px;
}

nav img {
    width: 20px;
    height: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav li {
    cursor: pointer;
}

nav ul ul {
    display: none;
    position: absolute;
    box-shadow: 0px 3px 5px -1px #cccccc;
    width: 10%;
    padding: 5px;
    top: calc(var(--nav-height) - 2px);
    backdrop-filter: blur(1.5rem);
    z-index:999;
}

nav ul ul > li {
    padding: 3px;
    margin: 3px 0;
}

nav ul ul > li:hover > a {
    border-left: 2px solid var(--main-color);
    padding-left: 10px;
    transition: all 0.3s ease;
}

nav ul li:hover ul,
nav ul li:hover div:hover {
    display: block;
}
