/************************* GLOBALS **************************/
@font-face {
    font-family: "andala";
    src: url("assets/fonts/andala.otf");
}

@font-face {
    font-family: "notera";
    src: url("assets/fonts/notera.ttf");
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1.0;
    }
}

.handwriting {
    font-family: "notera", sans-serif;
}

body {
    font-family: "andala", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 33pt;
}

/**************************** NAVBAR **************************/
nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    margin: 0;
    font-size: 10pt;
}

nav > ul > li:first-child img {
    width: 40px;
    height: 40px;
}

nav img {
    width: 20px;
    height: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav div {
    margin-right: 2em;
}

/*********************** HOME PAGE *************************/
#home h1, #home nav {
    opacity: 0;
    animation: appear 1.5s forwards;
}

#home h1 {
    animation-delay: 0.5s;
}

#home h1:nth-child(2) {
    animation-delay: 2s;
}

#home nav {
    animation-delay: 3.3s;
}
