/************************* CONFIGS **************************/
:root {
    --nav-height: 60px;
    /*  TODO: Uncomment after working on Home page
    --anim-appear-duration: 1.5s; 
    --home-welcome-delay: 0.5s;
    --home-whoami-delay: 2.5s;
    --home-navbar-delay: 3.3s;
    */
    --anim-appear-duration: 0.1s; 
    --home-welcome-delay: 0s;
    --home-whoami-delay: 0s;
    --home-navbar-delay: 0s;
}

/************************* GLOBALS **************************/
@font-face {
    font-family: "andala";
    src: url("assets/fonts/andala.otf");
}

@font-face {
    font-family: "notera";
    src: url("assets/fonts/notera.ttf");
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1.0;
    }
}

.handwriting {
    font-family: "notera", sans-serif;
}

body {
    font-family: "andala", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 33pt;
}

a {
    text-decoration: none;
}

/**************************** NAVBAR **************************/
nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    margin: 0;
    font-size: 10pt;
    height: var(--nav-height);
    max-height: var(--nav-height);
    background-color: rgba(0, 0, 0, 0.015);
}

nav > ul > li:first-child img {
    width: 40px;
    height: 40px;
}

nav img {
    width: 20px;
    height: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav div {
    margin-right: 2em;
}

nav li {
    cursor: pointer;
}

nav ul ul {
    display: none;
    position: absolute;
    width: 10%;
    padding: 0;
    top: calc(var(--nav-height) - 2px);
    backdrop-filter: blur(1.5rem);
    z-index:999;
}

nav ul ul > li {
    padding: 3px;
}

nav .social-icon {
    float: left;
    margin: 2px;
}

nav ul li:hover ul,
nav ul li:hover div:hover {
    display: block;
    box-shadow: 0px 3px 5px -1px #cccccc;
}

.nav-item-masked {
    color: #c0c0c0;
}

/*********************** HOME PAGE *************************/
#home h1, #home nav {
    opacity: 0;
    animation: appear var(--anim-appear-duration) forwards;
}

#home h1 {
    animation-delay: var(--home-welcome-delay);
}

#home h1:nth-child(2) {
    animation-delay: var(--home-whoami-delay);
}

#home nav {
    animation-delay: var(--home-navbar-delay);
}
